{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "block-scoped-var": "error",
    "curly": "warn",
    "default-case": "error",
    "eqeqeq": "error",
    "guard-for-in": "warn",
    "no-eq-null": "warn",
    "no-fallthrough": "warn",
    "no-floating-decimal": "error",
    "no-multi-spaces": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-octal": "warn",
    "no-redeclare": "error",
    "no-self-compare": "warn",
    "no-void": "error",
    "no-with": "error",
    "radix": "error",
    "brace-style": ["error", "1tbs", {"allowSingleLine": true }],
    "camelcase": ["off"],
    "comma-spacing": ["error", {"before": false, "after": true }],
    "comma-style": ["error", "last"],
    "eol-last": "warn",
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "key-spacing": ["error", {
        "beforeColon": false,
        "afterColon": true,
        "mode": "minimum"
    }],
    "max-nested-callbacks": ["warn", 6],
    "new-parens": "error",
    "no-array-constructor": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-multiple-empty-lines": ["warn", {"max": 2, "maxEOF": 1 }],
    "semi-spacing": ["error", {"before": false, "after": true }],
    "no-trailing-spaces": ["error"],
    "padded-blocks": ["error", "never"],
    "quotes": ["error", "single"],
    "semi": ["error", "always", {"omitLastInOneLineBlock": true}],
    "keyword-spacing": ["error", {"before": true, "after": true}],
    "space-before-function-paren": ["warn", "never"],
    "space-before-blocks": ["warn", "always"],
    "object-curly-spacing": ["warn", "always"],
    "space-in-parens": ["warn", "never"],
    "max-len": ["error", 160, 4]
  }
}
