.projectRequiredLevelLabel {
  color: #5A4D3F;
  font-size: 0.85em;
}

.closeButton {
  float: right;
  margin-top: 3px;
}

.clearButton {
  float: right;
  margin-top: 3px;
}

:global(.col.dots) {
  background: url('./../../assets/images/projectpicker/dots.png') left no-repeat,
              url('./../../assets/images/projectpicker/dots.png') right no-repeat;
  background-size: 18px 1px;
}

:global(.col.dots):first-child {
  background: url('./../../assets/images/projectpicker/dots.png') right no-repeat;
  background-size: 18px 1px;
}

:global(.col.dots):last-child {
  background: url('./../../assets/images/projectpicker/dots.png') left no-repeat;
  background-size: 18px 1px;
}

.searchResults {
  position: relative;
  margin-top: 24px;
  border-radius: 8px;
  border: 1pt dashed #A59E97;
  /*
  overflow: hidden;
  */
}

.searchResultsList {
  padding: 0;
  margin: 24px;
  column-count: 4;
  column-gap: 12px;
  list-style: decimal-leading-zero;

  &:global(.resultsCount1) {
    column-count: 1;
    column-gap: 0px;
  }

  &:global(.resultsCount2) {
    column-count: 2;
  }

  &:global(.resultsCount3) {
    column-count: 3;
  }

  & li {
    margin: 0;
    margin-left: 28px;
    padding: 6px 0;
    padding-left: 12px;
    font-size: 0.85em;
    font-weight: 300;
    color: #A59E97;
    white-space: nowrap;

    &.noEntries {
      padding-top: 0;
      padding-bottom: 0;
    }

    & :global(.button) {
      display: inline-block;
      font-size: 1.05em;
    }
  }
}

.createPicker {
  background: #EFEAE6;
  border-radius: 2px;
  padding: 23px;
}
