.spotsSelectedRow td {
  background: #FFFFFF;
}

.recipientsContainerRow {
  align-items: center;
}

.recipientsRow {
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -24px;
}

.recipientsRow > :global(.col) {
  margin-top: 12px;
  flex: 0 1 auto;
}

:global(.row).createRecipientRow {
  margin-top: 32px;
  align-items: center;
  justify-content: flex-start;
}

:global(.row).createRecipientRow > :global(.col) {
  padding-left: 12px;
  padding-right: 12px;
}

:global(.row).createRecipientRow > :global(.col:first-child) {
  padding-left: 0;
}

:global(.row).createRecipientRow > :global(.col:last-child) {
  min-width: 164px;
}
