:global(.row) {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  margin-left: -24px;
  margin-right: -24px;
}

:global(.row.rowNoGutter) {
  margin-left: 0;
  margin-right: 0;
}

:global(.row.rowNoMargins) {
  margin-left: 0;
  margin-right: 0;
}

:global(.rowWrap) {
  flex-wrap: wrap;
}

:global(.row) > :global(.col) {
  padding: 0 24px;
  flex: 1 0 auto;
}

:global(.row) > :global(.col):global(.colNoGutter) {
  padding-left: 0;
  padding-right: 0;
}

:global(.rowNoGutter) > :global(.col):first-child {
  padding-left: 0;
}

:global(.rowNoGutter) > :global(.col):last-child {
  padding-right: 0;
}

:global(.row) > :global(.col0) {
  flex: 0 1 auto;
}

:global(.row) > :global(.col0):only-child {
  flex: 1 0 auto;
}

:global(.row) :global(.col1)  { flex: 1 0 8.33%; box-sizing: border-box; }
:global(.row) :global(.col2)  { flex: 2 0 16.66%; box-sizing: border-box; }
:global(.row) :global(.col3)  { flex: 3 0 25.00%; box-sizing: border-box; }
:global(.row) :global(.col4)  { flex: 4 0 33.33%; box-sizing: border-box; }
:global(.row) :global(.col5)  { flex: 5 0 41.66%; box-sizing: border-box; }
:global(.row) :global(.col6)  { flex: 6 0 50.00%; box-sizing: border-box; }
:global(.row) :global(.col7)  { flex: 7 0 58.33%; box-sizing: border-box; }
:global(.row) :global(.col8)  { flex: 8 0 66.66%; box-sizing: border-box; }
:global(.row) :global(.col9)  { flex: 9 0 75.00%; box-sizing: border-box; }
:global(.row) :global(.col10) { flex: 10 0 83.33%; box-sizing: border-box; }
:global(.row) :global(.col11) { flex: 11 0 91.66%; box-sizing: border-box; }
:global(.row) :global(.col12) { flex: 12 0 100.00%; box-sizing: border-box; }
